/* 
Paleta de cores:
- #D90429
- #8D99AE
- #EDF2F4
- #EF233C
- #D90429

font-family: 'Chewy', cursive; 
font-family: 'Henny Penny', cursive;*/

body {
  color: #2B2D42;
  font-family: 'Chewy', cursive;
  font-size: 21px;
}

.hidden {
  display: none !important;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
}

.trybewarts-header-logo {
  display: flex;
  width: 100px;
  margin-top: 5px;
  margin-left: 10px;
  height: 80%;
  padding: 10px;
}

#trybewarts-header-title {
  font-size: 50px;
  font-weight: 300;
}

.form {
  display: flex;
}

.trybewarts-login {
  display: flex;
  height: 30%;
  align-self: center;
  margin-right: 20px;
}

#email {
  border: 3px solid #8D99AE;
  font-family: 'Chewy', cursive; 
  font-size: 15px;
  margin-right: 10px;
}

#password {
  border: 3px solid #8D99AE;
  font-family: 'Chewy', cursive; 
  font-size: 15px;
  margin-right: 10px;
}

#button {
  border: 3px solid #8D99AE;
  font-family: 'Chewy', cursive;
  font-size: 15px; 
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#campos-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}


#trybewarts-forms-logo {
  display: flex;
  align-self: center;
  height: 500px;
}

.conteiner-family {
  display: flex;
}

.box-family {
  display: flex;
  flex-direction: column;
  width: 35%;
  font-size: 17px;
}

.box-learn {
  display: flex;
  flex-direction: column;
  width: 65%;
  font-size: 17px;
}

#box-text-form {
  width: 675px;
}

.box-form {
  display: flex;
  margin: auto 100px;
}
