/* 
Paleta de cores:
- #D90429
- #8D99AE
- #EDF2F4
- #EF233C
- #D90429

font-family: 'Chewy', cursive; 
font-family: 'Henny Penny', cursive;*/

body {
  color: #2B2D42;
  font-family: 'Chewy', cursive;
  font-size: 21px;
}

.hidden {
  display: none !important;
}

/* Header */

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
}

.trybewarts-header-logo {
  display: flex;
  width: 100px;
  margin-top: 5px;
  margin-left: 10px;
  height: 80%;
  padding: 10px;
}

#trybewarts-header-title {
  font-size: 50px;
  font-weight: 300;
}

.form {
  display: flex;
}

.trybewarts-login {
  display: flex;
  height: 30%;
  align-self: center;
  margin-right: 20px;
}

#email {
  border: 3px solid #8D99AE;
  font-family: 'Chewy', cursive;
  font-size: 15px;
  margin-right: 10px;
}

#password {
  border: 3px solid #8D99AE;
  font-family: 'Chewy', cursive;
  font-size: 15px;
  margin-right: 10px;
}

#button {
  border: 3px solid #8D99AE;
  font-family: 'Chewy', cursive;
  font-size: 15px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Main total */

main {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

/* Area total do formulario */

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  padding: 20px;
  border: 3px solid black;
}

/* Area interna do formulario */

#campos-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  border: 3px solid red;
}

/* Titulo formulario */

.title-form {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

/* Logo ao lado formulario */

#trybewarts-forms-logo {
  display: flex;
  align-self: center;
  height: 500px;
  border: 3px solid blue;
}


/* Area identificacao */

.identification {
  margin-bottom: 15px;
  padding: 0;
  box-sizing: border-box;
}

.identification input {
  margin-bottom: 15px;
  border: 3px solid #8D99AE;
  font-family: 'Chewy', cursive;
  font-size: 15px;
}

/* conteiner familia e conteudo */

.conteiner-family {
  display: flex;
}

/* conteiner familia */

.box-family {
  display: flex;
  flex-direction: column;
  width: 35%;
  font-size: 17px;
}

/* conteiner conteudo */

.box-learn {
  display: flex;
  flex-direction: column;
  width: 65%;
  font-size: 17px;
}

/* Area que apresentará os dados salvos do fromulario */

#box-text-form {
  width: 675px;
}

/* area total que encapsula o formulario e depois os dados salvos */

.box-form {
  display: flex;
  margin: 10px 30px 30px 100px;
}

/* Rodape */

.footer {
  background-color: rgb(50, 167, 145);
  color: #EDF2F4;
  margin-top: 60px;
  padding: 20px;
  text-align: center;
}